


.BTNmaster {
    display: inline-block;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}


/* Dropdown Button */
.dropdown-btn {
  background-color: #131313;
  color: #05b0a7;
  padding: 16px;
  font-size: 18px;
  border: 2px solid #05b0a7;
  border-radius: 25px;
  min-width: 160px;
  margin-top: 25px;
  margin-bottom: 10px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown-btn:hover {background-color: #002927;}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #131313;
  min-width: 160px;
  min-height: 40px;
  max-height: 300px;
  z-index: 1;
  overflow: auto;
  border-left: 3px solid #05b0a7;
  border-right: 3px solid #05b0a7;
  border-bottom: 3px solid #05b0a7;
  border-radius: 25px;
}


.optiontype, .primaryTypes, .secondaryTypes, .meleeTypes  {
  background-color: #131313;
  color: #05b0a7;
  padding: 16px;
  font-size: 14px;
  border: 1px solid #131313;
  border-radius: 25px;
  min-width: 160px;
  min-height: 40px;
}


.optiontype:hover, .primaryTypes:hover, .secondaryTypes:hover, .meleeTypes:hover {background-color: #002927;}


.flex-container {
    display: block;
    z-index: 2;
}

.flex-child {
  flex: 1;
  background-color: #131313;
  color: #7e04cf;
  padding: 16px;
  border: 2px solid #7e04cf;
  border-radius: 25px;
  min-width: 150px;
  min-height: 220px;
  margin-top: 25px;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 20px;
}

.flex-child:nth-child(4n+1) {
  margin-left: 70px;
}

.flex-child:hover {background-color: #2b0147;}


.spacer {
  height: 70px;
  padding: 50px;
  margin: 20px;
}
