


.BTNmaster {
    display: inline-block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content {display: block;}


.dropdown-btn {
  background-color: #131313;
  color: #05b0a7;
  padding: 16px;
  font-size: 18px;
  border: 2px solid #05b0a7;
  border-radius: 25px;
  min-width: 160px;
  margin-top: 25px;
  margin-bottom: 10px;
}


.dropdown-btn:hover {background-color: #002927;}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #131313;
  min-width: 160px;
  min-height: 40px;
  max-height: 300px;
  z-index: 1;
  overflow: auto;
  border-left: 3px solid #05b0a7;
  border-right: 3px solid #05b0a7;
  border-bottom: 3px solid #05b0a7;
  border-radius: 10px;
}


.optiontype, .primaryType, .secondaryType, .meleeType, .rifles  {
  background-color: #131313;
  color: #05b0a7;
  padding: 16px;
  font-size: 14px;
  border: 1px solid #131313;
  border-radius: 25px;
  min-width: 160px;
  min-height: 40px;
}

.optiontype:hover, .primaryType:hover, .secondaryType:hover, .meleeType:hover {background-color: #002927;}


.mod-slot {
  width: 145px;
  height: 188px;
  margin: 10px;
  border: 2px solid #7e04cf;
  border-radius: 25px;
  color: #7e04cf;
  background-color: #131313;
}


.mod-slot:hover {background-color: #2b0147;}


.mod-source {
  width: 600px;
  height: 407px;
  border: 2px solid #7e04cf;
  border-top-left-radius: 25px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 10px;
  color: #7e04cf;
  background-color: #131313;
  overflow-y: scroll;
  margin-right: 50px;
}

.modding-area {
  margin-left: auto;
  margin-right: auto;
}



.removeBTN {
  border: 2px solid #7e04cf;
  border-radius: 25px;
  color: #7e04cf;
  background-color: #131313;
  padding: 16px;
  font-size: 18px;
  min-width: 160px;
  margin-top: 25px;
  margin-bottom: 10px;
}


.removeBTN:hover {background-color: #2b0147;}


.spacer {
  height: 70px;
  padding: 50px;
  margin: 20px;
}
