/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}


/* Dropdown Button */
.dropdown-btn {
  background-color: #131313;
  color: #05b0a7;
  padding: 16px;
  font-size: 18px;
  border: 2px solid #05b0a7;
  border-radius: 25px;
  min-width: 160px;
  margin-top: 25px;
  margin-bottom: 10px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown-btn:hover {background-color: #002927;}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #131313;
  min-width: 160px;
  min-height: 40px;
  z-index: 1;
}

.optiontype {
  background-color: #131313;
  color: #05b0a7;
  padding: 16px;
  font-size: 14px;
  border: 1px solid #131313;
  border-radius: 25px;
  min-width: 160px;
  min-height: 40px;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.optiontype:hover {background-color: #002927;}















/*

.buttons-container h2 {
    font-family: "Roboto", sans-serif;
    margin-bottom: 0;
}

.btn {
    display: inline-block;
    background: #e63946;
    text-decoration: none;
    width: 160px;
    height: 42px;
    margin: 24px 0;
    border-radius: 10px;
    overflow: hidden;

    box-shadow: inset 0 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
}

.btn.test-completed::after,
.btn.test-completed::before {
    content: "Test";
    position: absolute;
    text-align: center;
    width: 100%;
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.5;

    transition: all 400ms;
    top: 0;
}

.btn.btn.test-completed:hover::after {
    top: -36px;
}

.btn.test-completed::before {
    content: "Completed";
    top: 36px;
}

.btn.btn.test-completed:hover::before {
    top: 0;
}

*/
